<div class="row">

  <div class="col">
    <input type="text" [placeholder]="'Nombre'| translate" class="form-control" #txtNombre>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Fecha_Nacimiento'| translate" class="form-control" #txtFechaNacimiento>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Nacionalidad'| translate" class="form-control" #txtNacionalidad>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="crear(txtNombre.value, txtFechaNacimiento.value, txtNacionalidad.value)">{{'Crear'|translate}}</button>
  </div>
</div>
