<h1>{{'Lista_Autores'|translate}}</h1>
<hr>
<div class="row"  *appHasPermiso="'ESCRIBIR_AUTOR || LEER_AUTOR  '" >
  <div class="col">
    <input type="text" [placeholder]="'Valor_de_Busqueda'|translate" class="form-control" #txtValor (input)="busqueda(txtValor.value)">
  </div>
</div>
<br>
<div class="row"  *appHasPermiso="'ESCRIBIR_AUTOR || LEER_AUTOR  '"  >
  <div class="col">
    <button class="btn btn-info" (click)="busquedaInicial()"><i class="bi bi-eraser-fill"></i> {{ 'Limpiar'| translate }} </button>
  </div>
</div>

<br>
<div class="row"  *appHasPermiso="'ESCRIBIR_AUTOR || LEER_AUTOR  '" >
  <div class="col">
    <autor-table [autores]="autores"
    [titulo]="'Autores_Disponibles'|translate"
    [columnaNombre]="'Nombre'|translate"
    [columnaFecha]="'Fecha_Nacimiento'|translate"
    [columnaNacionalidad]="'Nacionalidad'|translate"
    [columnaAcciones]="'Acciones'|translate"> </autor-table>
  </div>
</div>

<div class="floating-button" *appHasPermiso="'ESCRIBIR_AUTOR '" >
  <button (click)="createAutor()"><img src="assets/images/icon/plus.png"  width="50"/></button>
</div>


