<div class="container">
  <div class="row">
    <div class="col">
      <input type="text" [placeholder]="'Titulo'" class="form-control" [(ngModel)]="libro.titulo" #txtEditarTitulo>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Año Publicacion '" class="form-control" [(ngModel)]="libro.anoPublicacion" #txtEditarAnoPublicacion>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'ISBN'" class="form-control" [(ngModel)]="libro.isbn" #txtEditarIsbn>
    </div>
  </div>
  <br>
  <h3>Asignar Autor</h3>

  <label for="selector">Selecciona un autor:</label>
    <br>
    <select class="custom-select form-control" [(ngModel)]="libro.idAutor">
      <option *ngFor="let autor of autores" [value]="autor.id">Id: {{ autor.id }} - Nombre: {{ autor.nombre }} </option>
    </select>
  <br>
  <label for="selector">Selecciona uno o varios generos:</label>
  <br>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" (click)="toggleDropdown()">
      Selecciona uno o varios generos
    </button>
    <div class="dropdown-menu" [class.show]="dropdownOpen">
      <div *ngFor="let l of generos">
        <label class="dropdown-item">
          <input type="checkbox" [(ngModel)]="generoSeleccionado[l.id]" [value]="l.id"> Id: {{ l.id }} - Nombre: {{ l.nombre }}
        </label>
      </div>
      <button class="btn btn-primary" (click)="cerrar()">Confirmar</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="confirmSelection(libro.id, txtEditarTitulo.value, txtEditarAnoPublicacion.value, txtEditarIsbn.value, libro.idAutor)">Editar Libro</button>
    </div>
  </div>
</div>
