  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Autores disponibles</h4>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap">
                <thead>
                    <tr>
                      <th class="text-dark font-medium fs-4">Id</th>
                      <th class="text-dark font-medium fs-4">Nombre</th>
                      <th class="text-dark font-medium fs-4">Fecha Nacimiento</th>
                      <th class="text-dark font-medium fs-4">Nacionalidad</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let autor of autores'>
                    <td>{{autor.id}}</td>
                    <td>{{autor.nombre}}</td>
                    <td>{{autor.fechaNacimiento}}</td>
                    <td>{{autor.nacionalidad}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
      </div>
