<!-- ===========================================================
<ul class="navbar-nav float-start me-auto">
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/dashboard"> Starter </a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/biblioteca">
      <img src="assets/images/icon/library.png"   width="31" />
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/libros">
      <img src="assets/images/icon/book (1).png" width="30"  />
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/genero">
      <img src="assets/images/icon/genero.png" width="30"  />
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/autor">
      <img src="assets/images/icon/user.png" width="30"  />
    </a>
  </li>

  <li class="nav-item" ngbDropdown>
    <a type="button" class="nav-link btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      Create New
    </a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Action - 1</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else is here</button>
    </div>
  </li>

</ul>

<ul class="navbar-nav float-end">

  <li class="nav-item" ngbDropdown placement="bottom-end">
    <a ngbDropdownToggle class="nav-link waves-effect waves-dark pro-pic" href="javascript:void(0)"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="assets/images/users/user4.jpg" alt="user" class="rounded-circle" width="31" />
      <span class="ms-2">John Deo</span>
    </a>
    <div class="dropdown-menu-right" ngbDropdownMenu>
      <a class="dropdown-item" href="javascript:void(0)"> My Profile</a>
      <a class="dropdown-item" href="javascript:void(0)"> My Balance</a>
      <a class="dropdown-item" href="javascript:void(0)"> Inbox</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)"> Account Setting</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)"> Logout</a>
    </div>
  </li>

</ul>
-->
