<ul class="navbar-nav float-start me-auto">
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/dashboard">{{"Inicio"|translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/biblioteca">{{"Bibliotecas"|translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/libros">{{"Libros"|translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/genero">{{"Generos"|translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/autor">{{"Autores"|translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/usuario">{{"Usuario"|translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/rol">{{"Rol"|translate}}</a>
  </li>


</ul>

<ul class="navbar-nav float-end">

    <button (click)="switchLanguage('en')"><img src="assets/images/Flag_of_the_United_Kingdom_(3-5).svg.png"  width="35"  /></button>
    <button (click)="switchLanguage('es')"><img src="assets/images/Bandera_nacional_de_España.png"  width="35"  /></button>
    <button (click)="switchLanguage('eu')"><img src="assets/images/donde-se-habla-euskera.png"  width="35"  /></button>

  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="javascript:void(0)" (click)="logout()">Logout</a>
  </li>
</ul>

