<h1>Lista Bibliotecas</h1>
<hr>
<div class="row" *appHasPermiso="'ESCRIBIR_BIBLIOTECA || LEER_BIBLIOTECA  '">
  <div class="col">
    <input type="text" [placeholder]="'Valor de Búsqueda'" class="form-control" #txtValor (input)="busqueda(txtValor.value)">
  </div>
</div>
<br>
<div class="row" *appHasPermiso="'ESCRIBIR_BIBLIOTECA || LEER_BIBLIOTECA  '" >
  <div class="col">
    <button class="btn btn-info" (click)="busquedaInicial()"><i class="bi bi-eraser-fill"></i> Limpiar</button>
  </div>
</div>

<br>
<div class="row" *appHasPermiso="'ESCRIBIR_BIBLIOTECA || LEER_BIBLIOTECA  '" >
  <div class="col">
    <hr>
      <biblioteca-table [bibliotecas]="bibliotecas"></biblioteca-table>
  </div>
</div>

<div class="floating-button" *appHasPermiso="'ESCRIBIR_BIBLIOTECA'">
  <button (click)="createBiblio()"><img src="assets/images/icon/plus.png"  width="50"/></button>
</div>
