<div class="row">
  <div class="col">
    <input type="text" [placeholder]="'Nombre'" class="form-control" #txtNombre>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Descripcion '" class="form-control" #txtDescripcion>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'EdadRecomendada'" class="form-control" #txtEdadRecomendada>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'UrlWikipedia'" class="form-control" #txtUrlWikipedia>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="crear(txtNombre.value, txtDescripcion.value, txtEdadRecomendada.value,txtUrlWikipedia.value)">Crear Genero</button>
  </div>
</div>
