<h1>Lista Libros</h1>
<div class="row">
  <div class="col">
    <hr>
    <libro-table [libros]="libros"></libro-table>
  </div>
</div>

<hr>
<h2>Buscar Por Id</h2>
<div class="row">
  <div class="col">
    <shared-search-box (onValue)="searchByLibroId($event)" placeholder="Buscar por id"></shared-search-box>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <libro-table [libros]="libroId"></libro-table>
  </div>
</div>

<hr>
<h2>Borrar por Id</h2>
<div class="row">
  <div class="col">
    <input type="text" [placeholder]="'Id'" class="form-control" #txtBorrarId>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <button class="btn btn-danger" (click)="deletedByLibroId(txtBorrarId.value)">Borrar</button>
  </div>
</div>
<hr>
<h2>Buscar Libros</h2>
<div class="row">
  <div class="col">
    <input type="text" [placeholder]="'Titulo'" class="form-control" #txtFiltrosTitulo>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Año Publicacion '" class="form-control" #txtFiltrosAnoPublicacion>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'ISBN'" class="form-control" #txtFiltrosISBN>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'ASC O DESC'" class="form-control" #txtFiltrosDireccion>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="emitValue(txtFiltrosTitulo.value, txtFiltrosAnoPublicacion.value,txtFiltrosISBN.value, txtFiltrosDireccion.value)">Buscar</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <libro-table-filtros [librosFiltros]="librosFiltros"></libro-table-filtros>
  </div>
</div>

<hr>

<h2>Busqueda Libros</h2>
<div class="row">
  <div class="col">
    <input type="text" [placeholder]="'SortBy'" class="form-control" #txtSortBy>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'ValueSortOrder'" class="form-control" #txtValueSortOrder>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Key'" class="form-control" #txtKey>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Operation'" class="form-control" #txtOperation>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Value'" class="form-control" #txtValue>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'PageIndex'" class="form-control" #txtPageIndex>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'PageSize'" class="form-control" #txtPageSize>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="busqueda(
      txtSortBy.value,txtValueSortOrder.value,txtKey.value,txtOperation.value,txtValue.value,txtPageIndex.value,txtPageSize.value)">Buscar</button>
  </div>
</div>


<div class="row">
  <div class="col">
    <hr>
    <libro-table-filtros [librosFiltros]="librosBusqueda"></libro-table-filtros>
  </div>
</div>

<hr>

<div>
  <h2>Crear Libro</h2>
  <div class="row">
    <div class="col">
      <input type="text" [placeholder]="'Titulo'" class="form-control" #txtTitulo>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Año Publicacion '" class="form-control" #txtAnoPublicacion>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'ISBN'" class="form-control" #txtIsbn>
    </div>
  </div>
  <br>
  <h4>Asignar Autor</h4>
  <div class="row">
    <div class="col">
      <input type="text" [placeholder]="'Nombre'" class="form-control" #txtNombreAutor>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Fecha de Nacimiento '" class="form-control" #txtFechaNacimiento>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Nacionalidad'" class="form-control" #txtNacionalidad>
    </div>
  </div>
  <br>
  <h4>Asignar Genero</h4>
  <div class="row">
    <div class="col">
      <input type="text" [placeholder]="'Nombre'" class="form-control" #txtNombre>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Descripcion '" class="form-control" #txtDescripcion>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'EdadRecomendada'" class="form-control" #txtEdadRecomendada>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'UrlWikipedia'" class="form-control" #txtUrlWikipedia>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="crear(txtTitulo.value,txtAnoPublicacion.value,txtIsbn.value,txtNombreAutor.value,txtFechaNacimiento.value,txtNacionalidad.value,txtNombre.value, txtDescripcion.value, txtEdadRecomendada.value,txtUrlWikipedia.value)">Crear Libro</button>
    </div>
  </div>
</div>

<h2>Seleccione un libro mediante su id para editarlo</h2>
<div class="col">
  <input type="text" [placeholder]="'Id'" class="form-control" #txtEditarId>
</div>
<br>
<div>
  <h2>Editar Libro</h2>
  <div class="row">
    <div class="col">
      <input type="text" [placeholder]="'Titulo'" class="form-control" #txtEditarTitulo>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Año Publicacion '" class="form-control" #txtEditarAnoPublicacion>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'ISBN'" class="form-control" #txtEditarIsbn>
    </div>
  </div>
  <br>
  <h3>Asignar Autor</h3>
  <h6>Solo puedes asignar autores existentes</h6>
  <div class="row">
    <div class="col">
      <input type="text" [placeholder]="'Id'" class="form-control" #txtEditarIdAutor>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Nombre'" class="form-control" #txtEditarNombreAutor>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Fecha de Nacimiento '" class="form-control" #txtEditarFechaNacimiento>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Nacionalidad'" class="form-control" #txtEditarNacionalidad>
    </div>
  </div>
  <br>
  <h3>Asignar Genero</h3>
  <h6>Solo puedes asignar generos existentes</h6>
  <div class="row">
    <div class="col">
      <input type="text" [placeholder]="'Id'" class="form-control" #txtEditarIdGenero>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Nombre'" class="form-control" #txtEditarNombre>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'Descripcion '" class="form-control" #txtEditarDescripcion>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'EdadRecomendada'" class="form-control" #txtEditarEdadRecomendada>
    </div>
    <div class="col">
      <input type="text" [placeholder]="'UrlWikipedia'" class="form-control" #txtEditarUrlWikipedia>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="editar(txtEditarId.value,txtEditarTitulo.value,txtEditarAnoPublicacion.value,txtEditarIsbn.value,txtEditarIdAutor.value,txtEditarNombreAutor.value,txtEditarFechaNacimiento.value,txtEditarNacionalidad.value,txtEditarIdGenero.value,txtEditarNombre.value, txtEditarDescripcion.value, txtEditarEdadRecomendada.value,txtEditarUrlWikipedia.value)">Editar Libro</button>
    </div>
  </div>
