<h1>Lista Libros</h1>
<hr>
<div class="row" *appHasPermiso="'ESCRIBIR_LIBROS || LEER_LIBROS'">
  <div class="col">
    <input type="text" [placeholder]="'Valor de Búsqueda'" class="form-control" #txtValor (input)="busqueda(txtValor.value)">
  </div>
</div>
<br>
<div class="row" *appHasPermiso="'ESCRIBIR_LIBROS || LEER_LIBROS'">
  <div class="col">
    <button class="btn btn-info" (click)="busquedaInicial()"><i class="bi bi-eraser-fill"></i> Limpiar</button>
  </div>
</div>
<br>
<div class="row" *appHasPermiso="'ESCRIBIR_LIBROS || LEER_LIBROS'">
  <div class="col">
    <hr>
    <libro-table [libros]="libros"></libro-table>
  </div>
</div>
<div class="floating-button" *appHasPermiso="'ESCRIBIR_LIBROS'">
  <button (click)="createLibro()"><img src="assets/images/icon/plus.png" width="50"/></button>
</div>



