  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Generos disponibles</h4>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap">
                <thead>
                    <tr>
                      <th class="text-dark font-medium fs-4">Id</th>
                      <th class="text-dark font-medium fs-4">Nombre</th>
                      <th class="text-dark font-medium fs-4">Descripcion</th>
                      <th class="text-dark font-medium fs-4">Edad Recomendada</th>
                      <th class="text-dark font-medium fs-4">urlWikipedia</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let g of generos'>
                    <td>{{g.id}}</td>
                    <td>{{g.nombre}}</td>
                    <td>{{g.descripcion}}</td>
                    <td>{{g.edadRecomendada}}</td>
                    <td>{{g.urlWikipedia}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
      </div>
