<!--<h1>Lista Autores</h1>
<div class="row">
  <div class="col">
    <hr>
    <autor-table [autores]="autores"></autor-table>
  </div>
</div>
<hr>
<h2>Buscar Por Id</h2>
<div class="row">
  <div class="col">
    <shared-search-box (onValue)="searchByAutorId($event)" placeholder="Buscar por id"></shared-search-box>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <autor-table-id [autoresId]="autoresId"></autor-table-id>
  </div>
</div>-->
<hr>


<h2>Buscar Autores</h2>

<div class="row">
  <div class="col">
    <input type="text" [placeholder]="'Nombre'" class="form-control" #txtNombre>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Fecha de Nacimiento '" class="form-control" #txtFechaNacimiento>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Nacionalidad'" class="form-control" #txtNacionalidad>
  </div>
</div>

<br>

<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="emitValue(txtNombre.value, txtFechaNacimiento.value, txtNacionalidad.value)">Buscar</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <autor-table-filtros [autoresFiltros]="autoresFiltros"></autor-table-filtros>
  </div>
</div>
