<h1>{{'Lista_Roles'|translate}}</h1>
<hr>
<br>
<div class="row">
  <div class="col" *appHasPermiso="'ESCRIBIR_ROL || LEER_ROL'">
      <rol-table [rol]="rol"  [titulo]="'Roles_Disponibles'|translate"
      [columnaNombre]="'Nombre'|translate"
      [columnaPermisos]="'Permisos'|translate"
      [columnaAcciones]="'Acciones'|translate"></rol-table>
  </div>
</div>
<div class="floating-button">
  <button (click)="createRol()" *appHasPermiso="'ESCRIBIR_ROL'"><img src="assets/images/icon/plus.png"  width="50"/></button>
</div>
