<style>
  button {
      border: none;
      background: none;
      padding: 0;
      margin-right: 10px;
  }
</style>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Libros disponibles</h4>
          <div class="table-responsive">
            <table class="table align-middle text-nowrap">
                <thead>
                    <tr>
                      <th class="text-dark font-medium fs-4">Id</th>
                      <th class="text-dark font-medium fs-4">Título</th>
                      <th class="text-dark font-medium fs-4">Año Publicación</th>
                      <th class="text-dark font-medium fs-4">ISBN</th>
                      <th class="text-dark font-medium fs-4">Nombre Autor</th>
                      <th class="text-dark font-medium fs-4">Nombre Genero</th>
                      <th class="text-dark font-medium fs-4" *appHasPermiso="'ESCRIBIR_LIBROS'" >Acciones</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let l of paginatedLibros'>
                    <td>{{l.id}}</td>
                    <td>{{l.titulo}}</td>
                    <td>{{l.anoPublicacion}}</td>
                    <td>{{l.isbn}}</td>
                    <td>{{l.nombreAutor}}</td>
                    <td>{{l.nombreGenero}}</td>
                    <td>
                      <button (click)="editLibro(l)"><img src="assets/images/icon/pencil.png"  width="20" *appHasPermiso="'ESCRIBIR_LIBROS'" /></button>
                      <button (click)="deleteLibro(l)" ><img src="assets/images/icon/trash-can.png" width="20" *appHasPermiso="'ESCRIBIR_LIBROS'" /></button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <div class="card-body border-top">
          <ngb-pagination
            [collectionSize]="libros.length"
            [(page)]="currentPage"
            [pageSize]="pageSize"
            (pageChange)="onPageChange($event)"
            aria-label="Pagination"
          ></ngb-pagination>
        </div>
      </div>
