

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente */
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto; /* Ajusta el margen para centrar horizontalmente */
}

.form-container img {
  margin-bottom: 20px; /* Espacio entre la imagen y el formulario */
}
