<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Generos Encontrados</h4>
        <div class="table-responsive">
          <table class="table align-middle text-nowrap">
              <thead>
                  <tr>
                    <th class="text-dark font-medium fs-4">Id</th>
                    <th class="text-dark font-medium fs-4">Titulo</th>
                    <th class="text-dark font-medium fs-4">Año Publicacion</th>
                    <th class="text-dark font-medium fs-4">ISBN</th>

                  </tr>
              </thead>
              <tbody>
                <tr *ngFor='let g of librosFiltros'>
                  <td>{{g.id}}</td>
                  <td>{{g.titulo}}</td>
                  <td>{{g.anoPublicacion}}</td>
                  <td>{{g.isbn}}</td>

              </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
